# Backend Service URLs
NEXT_PUBLIC_API_URL=http://localhost:8081
NEXT_PUBLIC_CART_API_URL=http://localhost:8082
NEXT_PUBLIC_ORDER_API_URL=http://localhost:8083

# Demo Mode
NEXT_PUBLIC_DEMO_MODE=true
